.grid-wrapper {
  margin-top: 4em;
}

.cover-img {
  min-height: 160px;
  object-fit: cover;
}

input {
  width: 30%;
}

.card-description {
  color: var(--very-dark-blue);
}

.card-metric {
  margin-left: 0.2rem;
}
