.detail-wrapper {
  margin-top: 5em;
}

.detail-flag-img {
  width: 92%;
}

.detail-metric-wrapper {
  padding: 2em;
}

button {
  margin: 0.2em;
}

.detail-description {
  color: var(--very-dark-blue);
  font-weight: 600;
  padding: 0.4em 0;
}

.detail-metric {
  margin-left: 0.4rem;
  padding: 0.4em 0;
}

.detail-border-wrapper {
  margin-top: 5em;
}

.detail-border-btn {
  margin: 0.2em;
}
